{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Perferendis ex rem reiciendis placeat perspiciatis corrupti
         earum neque delectus aliquam vitae. Repudiandae nisi aperiam
          architecto ea, nemo corrupti rem maiores. Nostrum!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
         Non voluptatibus exercitationem eligendi corporis officiis
        laudantium eveniet commodi amet quam voluptatum hic velit vero
         sequi quibusdam, aliquam omnis magni. In officiis similique 
         corrupti, facere asperiores illum assumenda laborum exercitationem
        iusto. Esse aut ipsam quam! Aut in eveniet consectetur itaque dicta
         eos.</p>

</div>




{% endblock content %}